body {
    margin-left: 25%;
    margin-right: 25%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1000px;
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    display: block;
    padding-bottom: 10px;
}

nav li:hover {
    background-color: black;
}

a:hover {
    color: white;
}

.marco {
    border: 7px solid #bdc3c7;
}

.contenido {
    margin: 1.5em;
}

nav li{
    display: inline-block;
    width: 19%;
    height: 25px;
    text-align: center;
    padding: 8px;
    background-color: #bdc3c7;
}

.clear {
    clear: both;
}


.fechas {
    color: #3498db;
}

.titulo {
    font-size: 2.5em;
}

.bordeizq {
    border-left: 2px solid #bdc3c7;
    padding: 0.5em;
}

.wrapper {
    padding-bottom: 60px;
}

.divider {
    position: relative;
    margin-top: 10%;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}